/* Imported Google Fonts from fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

:root {
    --clockFont: 'Orbitron', sans-serif;
    --primaryColor: #1c1c31;
}

#myBackgroundColorCheck {
    width: 60px;
    height: 20px;
}

#myBackgroundColorCheck:hover {
    cursor: pointer;
}

.primaryColor {
    color: var(--primaryColor);
    font-family: var(--clockFont);
}


nav {
    height: auto;
    color: #1c1c31;
}


#deleteAlarm {
    color: #ff0000; 
    /* transition: all 0.9s ease; */
}

#deleteAlarm:hover {
    transition: 0.9s;
    cursor: pointer;
    font-size: 20.5px;
}


#TimeDisplay {
    font-family: var(--clockFont);
    font-weight: bold;
    text-align: center;
    color: #1c1c31;
    margin-top: 50px;
    background-color: f7f7f7;
}

#todaysDay {
    letter-spacing: 0.25rem;
}

#alarmDisplay {
    font-family: var(--clockFont);
    font-size: 18px;
    /* width: 200px; */
}

/* #setAlarmContainer {
    background-color: pink;
} */

#setAlarmText {
    font-family: var(--clockFont);
    font-weight: bold;
    font-size: 30px;
}

#setAlarmBtn {
    background-color: #1c1c31;
    color: #f7f7f7;
}

#deleteAlarm {
    font-size: 20px;
    font-weight: bold;
}


/* #hour:focus, #minutes:focus { */
    /* background-color: yellow; */
    /* outline: rgb(255, 0, 0); */
/* } */

/* @media (max-width: @screen-xs) {
    body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
} */
